{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'homepage/styles/homepage.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<img class="coin1 coin" src="https://kuna.io/_next/static/media/coin1.526104f5.webp" alt="">
<img class="coin2 coin" src="https://kuna.io/_next/static/media/coin2.17f3cff5.webp" alt="">
<img class="coin3 coin" src="https://kuna.io/_next/static/media/coin3.a0d20442.webp" alt="">
<img class="coin4 coin" src="https://kuna.io/_next/static/media/coin4.93b3bd1b.webp" alt="">


{% if user.is_authenticated %}
    {% if is_2fa_authenticated %}
        <p>Ви успішно налаштували двофакторну автентифікацію.</p>
    {% else %}
        <p>Рекомендуємо увімкнути двофакторну автентифікацію для додаткового захисту.</p>
        <a href="{% url 'two_factor_setup' %}" class="btn btn-primary">Налаштувати 2FA</a>
    {% endif %}
{% else %}
    <div class="flex-start-container">
        <div class="right-start-container">
            <p class="site-title">Ласкаво просимо до BitSim – <br>вашої навчальної крипто-біржі!</p>
            <p class="site-subTitle">Почніть тренуватися сьогодні та станьте <br>справжнім професіоналом у світі криптовалют!</p>
            <a class="try-now" href="{% url 'register' %}">Спробувати зараз <i class="bi bi-arrow-right"></i></a>
        </div>
        <div class="left-start-container">
            <p>шось</p>
        </div>
    </div>






{% endif %}

<br>
<a href="{% url 'login' %}">Вхід</a>
<br>
<a href="https://bitsim.com:8000/trade/spot/BTCUSDT/">BTC/USDT</a>
{% endblock %}
