<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BitSim | Вхід</title>

  <link rel="stylesheet" href="{% static 'users/styles/complete_registration.css' %}">
  <link rel="stylesheet" href="{% static 'users/styles/animated_bg.css' %}">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <div class="wrapper">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="banner">
    <div class="content">
      <section class="container forms">
        <div class="form login">
          <div class="form-content">
            <img class="logo" src="https://i.ibb.co/S6YcssD/4-1.png" alt="Logo"></a>
            <header>Майже готово</header>

            <!-- Початок форми -->
            <form method="post" action="">
              {% csrf_token %}

              <p class="prev-text">Введіть ваше Ім'я</p>
              <div class="field input-field">
                <input type="text" name="first_name" placeholder="Ім'я" class="input" required>
              </div>
              <p class="prev-text">Введіть ваше прізвище</p>
              <div class="field input-field">
                <input type="text" name="last_name" placeholder="Прізвище" class="input" required>
              </div>


              <div class="field button-field">
                <button type="submit">Зберегти</button>
              </div>
            </form>
            <!-- Кінець форми -->
          </div>
        </div>
      </section>
      <p class="rights">© 2024-2025 BitSim. All rights reserved. Copyright by Nazar Tsikhotsʹkyy.</p>
    </div>
  </div>
</body>
</html>